.container{
    height: 100%;
    width: 100%;
    margin: 15rem 0;
    padding-top: 5rem;
}

.wrapper{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 4rem;
}

.titles > .subtitle{
   color: #333;
   font-size: 22px;
   font-weight: 500;
}

.titles > .title{
   font-size: 36px;
   font-weight: bold;
   color: rgb(201, 136, 15);
}

.places{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 5rem;
}

.place{
    height: 500px;
    width: 100%;
    border-radius: 24px;
    margin-bottom: 7.5rem;
    transition: 150ms all;
    text-decoration: none;
    color: inherit;
    box-shadow: -5px 5px 19px -5px rgba(0,0,0,0.37);
    -webkit-box-shadow: -5px 5px 19px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: -5px 5px 19px -5px rgba(0,0,0,0.37);
}

.place:hover{
    transform: scale(1.035);
}

.imgWrapper{
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.imgWrapper > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleAndReview{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleAndReview > span:first-child{
    color: rgb(201, 136, 15);
    font-weight: 500;
    font-size: 24px;
}

.titleAndReview > .review{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
}

.icon{
    color: rgb(201, 136, 15);
    font-size: 18px;
}


.countryAndPrice{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countryAndPrice >span:first-child{
    color: #000;
    font-size: 22px;
    font-weight: 500;
}

.countryAndPrice > span:first-child > span{
    color: rgb(201, 136, 15);
}

.price{
    color: rgb(201, 136, 15);
    font-size: 20px;
}

.price > span{
    color: #000;
}